@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../../fonts/Raleway-Bold.woff2") format("woff2"), url("../../fonts/Raleway-Bold.woff") format("woff"), url("../../fonts/Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Black.woff") format("woff"), url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.ttf") format("truetype");
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --main-font: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  margin: 0;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.lists {
  list-style: none;
}

.btn {
  font-family: var(--main-font);
  cursor: pointer;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 1200px) {
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 615px;
    padding: 40px;
    z-index: 20;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden .modal {
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 610px;
    padding: 40px;
    z-index: 20;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden .modal {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }
}

.modal__main-title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  width: 100%;
}

.modal-form__wrapper:hover .modal-form__text,
.modal-form__wrapper:focus .modal-form__text {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .modal-form__wrapper:hover .modal-form__text,
.modal-form__wrapper:focus .modal-form__text {
    color: currentColor;
  }
}

.modal-form__wrapper:hover input,
.modal-form__wrapper:focus input,
.modal-form__wrapper:hover svg,
.modal-form__wrapper:focus svg {
  border-color: #2196f3;
  color: #2196f3;
  fill: #2196f3;
}

.modal-form__wrapper:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__wrapper {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__wrapper input:focus {
  border: 1px solid #2196f3;
}
.modal-form__wrapper textarea:focus {
  border: 1px solid #2196f3;
}
@media screen and (min-width: 1200px) {
  .modal-form__wrapper {
    display: flex;
    flex-direction: column;
  }
  .modal-form__wrapper:not(:nth-child(4)) {
    margin-bottom: 10px;
  }
  .modal-form__wrapper input:focus {
    border: 1px solid #2196f3;
  }
  .modal-form__wrapper textarea:focus {
    border: 1px solid #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__wrapper input {
    height: 40px;
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-form__text {
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input-icon {
  position: relative;
}

.modal-form__input-icon input {
  display: block;
  padding: 5px 30px;
  height: 40px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus + .modal-form__icon {
  fill: #2196f3;
}
@media screen and (min-width: 1200px) {
  .modal-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  input:focus + .modal-form__icon {
    fill: #2196f3;
  }
}

.modal-form__area {
  display: block;
  width: 100%;
  height: 120px;
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__area::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__area:hover, .modal-form__area:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .modal-form__area {
    height: 120px;
    padding: 12px 16px;
    resize: none;
  }
  .modal-form__area::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.modal-form__box {
  position: relative;
  display: flex;
  align-items: stretch;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal-form__box {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.form-box__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .form-box__text {
    position: relative;
    padding-left: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #757575;
  }
}

.modal-form__checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  height: 15px;
  opacity: 0;
  transform: translateY(-50%);
}
.modal-form__input-checkbox:checked ~ .modal-form__checkbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 1;
}
.modal-form__input-checkbox:hover ~ .modal-form__checkbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* display: none; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 7px; */
  }
  .modal-form__input-checkbox:checked ~ .modal-form__checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 7px; */
    border: none;
  }
  .modal-form__input-checkbox:focus ~ .modal-form__checkbox {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-form__checkbox--none {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
}
.modal-form__input-checkbox:checked ~ .modal-form__checkbox--none {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  opacity: 0;
}
.modal-form__input-checkbox:hover ~ .modal-form__checkbox--none {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox--none {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 7px; */
    border: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form__input-checkbox:checked ~ .modal-form__checkbox--none {
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
  }
  .modal-form__input-checkbox:focus ~ .modal-form__checkbox--none {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-form__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal-form__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__link-text {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__link-text:hover, .modal-form__link-text:focus {
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .modal-form__link-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form__link-text:hover, .modal-form__link-text:focus {
    text-decoration: none;
    color: #188ce8;
  }
}

.modal-form__btn-submit {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 55px;
  margin: 0 auto 30px;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn-submit:hover, .modal-form__btn-submit:focus {
  background-color: #188ce8;
}

.modal-form__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn--close:hover .modal-form__icon--close {
  fill: #2196f3;
}

.modal-form__icon--close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__btn--close:hover .modal-form__icon--close, .modal-form__btn--close:focus .modal-form__icon--close {
  fill: #2196f3;
}

.header__btn {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;
  border: none;
  outline: none;
  background-color: transparent;
}
.header__btn.is-open .header__icon--close {
  opacity: 1;
}
.header__btn.is-open .header__icon--open {
  opacity: 0;
}
.header__btn .header__icon--close {
  opacity: 0;
}
.header__btn .header__icon--open {
  opacity: 1;
}
.header__btn:hover .header__icon--close, .header__btn:hover .header__icon--open {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.header__icon--open,
.header__icon--close {
  fill: #212121;
}

.mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding: 48px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  overflow-y: auto;
}

.mobile.is-open {
  display: block;
}

.mobile__lists {
  border-top: 1px solid #ececec;
  margin-bottom: 300px;
}
@media screen and (max-width: 390px) {
  .mobile__lists {
    margin-bottom: 200px;
  }
}

.mobile__item:not(last-child) {
  margin-bottom: 35px;
}

.mobile__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile__link.current {
  color: #2196f3;
}

.mobile__link:hover {
  border-bottom: 4px solid #2196f3;
  color: #2196f3;
  border-radius: 2px;
}

.mobile-contact__item {
  height: 34px;
}

.mobile-contact__item:not(last-child) {
  margin-bottom: 30px;
}

.mobile-contact__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-contact__link:hover, .mobile-contact__link:focus {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 390px) {
  .mobile-contact__link {
    font-size: 20px;
  }
  .mobile-contact__link:hover, .mobile-contact__link:focus {
    font-size: 25px;
  }
}

.mobile-social__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mobile-social__item {
  margin-bottom: 5px;
}
.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}
@media screen and (max-width: 390px) {
  .mobile-social__item:not(:first-child) {
    padding-left: 5px;
  }
}
.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 390px) {
  .mobile-social__item:not(:last-child) {
    padding-right: 5px;
  }
}

.mobile-social__link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 390px) {
  .mobile-social__link {
    font-size: 14px;
  }
}

.mobile-social__item:hover,
.mobile-social__item:focus {
  text-decoration: underline;
}

.header {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
}

.header .container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header .container {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

.header__lists {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__lists {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__lists {
    display: flex;
    align-items: center;
    margin-right: 85px;
    margin-left: 85px;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .header__lists {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .header__item {
    margin-right: 50px;
  }
  .header__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    position: relative;
    display: block;
    height: 100%;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: var(--accent-color);
  }
}

.header__link--current {
  color: var(--accent-color);
}
.header__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.logo {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

.logo__web {
  display: inline-block;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__web:focus, .logo__web:hover {
  color: var(--accent-color);
}

.logo__bottom {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__bottom:hover, .logo__bottom:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo__bottom {
    display: inline-block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

/* -----Контакты хедера----- */
.header-contact__lists {
  display: none;
}
@media screen and (min-width: 480px) {
  .header-contact__lists {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contact__lists {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__lists {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header-contact__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__item:first-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__item:not(:first-child) {
    margin-left: 50px;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}
.header-contact__link:hover .header-contact__pic, .header-contact__link:focus .header-contact__pic {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header-contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: var(--accent-color);
  }
  .header-contact__link:hover .header-contact__pic, .header-contact__link:focus .header-contact__pic {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__link {
    display: flex;
    padding: 32px 0;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact__link:hover, .header-contact__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header-contact__pic {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__pic {
    fill: currentColor;
    margin-right: 10px;
  }
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/Header-img-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/Header-img-480-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/Header-img-480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/Header-img-480-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero768.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/Hero768-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/desktop/hero1200-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero .container {
    height: 600px;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .work {
    padding-top: 94px;
    padding-bottom: 0;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .work__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work__lists {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .work__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .work__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.work__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .work__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.work__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .work__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .work__icon {
    padding: 25px 100px;
  }
}

.work__title {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.work__position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects {
  display: none;
}
@media screen and (min-width: 480px) {
  .projects {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    display: block;
    background-color: #ffffff;
    padding: 94px 0;
  }
}

.projects__lists {
  display: flex;
  gap: 30px;
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects__label {
  position: relative;
}
.projects__link:focus .projects__label, .projects__link:hover .projects__label {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__text {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* -----Другой вариант сетки----- */
/* .projects-item:not(:last-child) {
  margin-right: 30px;
} */
.team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__mean-title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team__mean-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .team__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__lists {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.team__item {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__div {
  padding: 30px 30px 24px 30px;
}
@media screen and (min-width: 1200px) {
  .team__div {
    padding: 30px;
  }
}

.team__photo {
  width: 100%;
}

.team__title {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-card__lists {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-card__item:not(:last-child) {
  margin-right: 10px;
}

.team-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card__link:hover .team-card__icon, .team-card__link:focus .team-card__icon {
  fill: #ffffff;
}
.team-card__link:hover, .team-card__link:focus {
  background-color: #2196f3;
}

.team-card__icon {
  fill: currentColor;
}

.client__title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .client__title {
    margin-bottom: 30px;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .client__title {
    margin-bottom: 30px;
    color: #212121;
  }
}

.client__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .client__lists {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.client__item {
  width: calc((100% - 30px) / 2);
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #2196f3;
}

.client__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
  }
}

.footer-address {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-address {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address__text {
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .address__text {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-top: 12px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.address__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.footer-card {
  margin: 60px auto;
}
@media screen and (min-width: 768px) {
  .footer-card {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-card {
    margin-right: 93px;
  }
}

.footer-card__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-card__title {
    text-align: left;
    margin-top: 12px;
  }
}

.footer-card__lists {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-card__lists {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.footer-card__item:not(:last-child) {
  margin-right: 10px;
}

.footer-card__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-card__link:hover, .footer-card__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer-card__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form__wrapper {
    width: 450px;
    margin: 0 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__wrapper {
    width: 570px;
    margin: 0;
  }
}

.footer-form__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__title {
    margin-top: 12px;
    text-align: left;
  }
}

.footer-form__main {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__main {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.footer-form__input-mail {
  width: 100%;
  margin: 0 auto 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: #2f303a;
  color: #ffffff;
}
.footer-form__input-mail::placeholder {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer-form__input-mail {
    width: 360px;
    height: 50px;
    margin-bottom: 0;
    padding: 15px;
  }
}

.footer-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .footer-form__btn {
    width: 200px;
    height: 50px;
    margin-left: 10px;
  }
}

.footer-form__btn-text {
  margin-right: 10px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__btn-text {
    margin-right: 10px;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
}

.footer-form__btn-icon {
  fill: #ffffff;
}

.portfolio-main {
  background-color: #ffffff;
}

.portfolio__btn-lists {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__btn-lists {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__btn-lists {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__btn-item + .portfolio__btn-item {
    margin-left: 8px;
  }
}

.portfolio__btn {
  display: inline-block;
  border-color: transparent;
  padding: 6px 20px;
  margin: 7px 4px;
  border-radius: 4px;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .portfolio__btn {
    padding: 6px 22px;
  }
}

.portfolio__btn--active {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .portfolio__btn--active {
    padding: 6px 22px;
  }
}

.portfolio__main.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio__main.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio__item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: block;
  height: 100%;
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1200px) {
  .portfolio__link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__link:hover, .portfolio__link:focus {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__photo-task {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio__photo {
  display: block;
  width: 100%;
}

.portfolio__photo-text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 75px 25px;
  opacity: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 390px) {
  .portfolio__photo-text {
    padding: 40px 25px;
    font-size: 14px;
  }
}
.portfolio__link:hover .portfolio__photo-text, .portfolio__link:focus .portfolio__photo-text {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .portfolio__photo-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
  }
  .portfolio__link:hover .portfolio__photo-text, .portfolio__link:focus .portfolio__photo-text {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
  }
}

.portfolio__desc {
  padding: 20px 24px;
}

.portfolio__title {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */