.footer {
  padding: 60px 0;
  background-color: #2f303a;

  @include mobile {
    padding: 60px 0;
    background-color: #2f303a;
  }

  @include tablet {
    padding: 60px 0;
    background-color: #2f303a;
  }
}

.footer .container {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// .footer {
//   padding: 60px 0;
//   background-color: #2f303a;
// }

// .footer .container {
//   display: flex;
//   justify-content: space-between;
// }
