.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .container {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
  }
}
