.header {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  @include tablet {
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
}

.header .container {
  position: relative;
  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    justify-content: space-between;
  }
}

// // Навигация хедера

// .header__nav

.header__nav {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

// .header__lists

.header__lists {
  display: none;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: flex;
    align-items: center;
    margin-right: 85px;
    margin-left: 85px;
    height: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include desktop {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// .header__item

.header__item {
  @include tablet {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

// .header__link

.header__link {
  @include tablet {
    position: relative;
    display: block;
    height: 100%;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

// .header__link--current

.header__link--current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    background-color: #2196f3;
    border-radius: 2px;
  }
}
