.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/mobile/Header-img-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include retina {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/mobile/Header-img-480-2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include mobile {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/mobile/Header-img-480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @include retina {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/mobile/Header-img-480-2x.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;

  @include mobile {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

// .hero__title

.hero__title {
  margin-bottom: 30px;

  font-family: $primaryFont;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  @include mobile {
    margin-bottom: 30px;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

// .hero__btn

.hero__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;

  @include mobile {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;

    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
  }
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}

// .hero {
//   max-width: 1600px;
//   height: 600px;
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('../images/hero-big.jpg');
//   background-size: cover;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .hero__title {
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .hero__btn {
//   display: block;
//   margin: 0 auto;
//   padding: 10px 32px;
//   border: none;
//   border-radius: 4px;
//   align-items: center;

//   font-family: var(--main-font);
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   text-align: center;
//   letter-spacing: 0.06em;
//   color: #ffffff;

//   background-color: var(--accent-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

//   cursor: pointer;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
// }
