// Логотип в хедере

.logo {
  @include mobile {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: #212121;
  }
}

// .logo__web

.logo__web {
  @include mobile {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: #2196f3;
  }
}

// .logo {
//   margin-right: 93px;
//   margin-top: 25px;
//   margin-bottom: 25px;
//   font-family: $secondoryFont;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: var(--title-text-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .logo__web {
//   color: var(--accent-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:focus,
//   &:hover {
//     color: var(--accent-color);
//   }
// }

// // Лого футера

// .logo__bottom {
//   display: inline-block;
//   margin-bottom: 20px;
//   font-family: $secondoryFont;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: #ffffff;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }
