.portfolio-main {
  background-color: #ffffff;
}

// // Портфолио кнопки

// .portfolio__btn-lists

.portfolio__btn-lists {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @include tablet {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

// .portfolio__btn-item

.portfolio__btn-item + .portfolio__btn-item {
  @include desktop {
    margin-left: 8px;
  }
}

// .portfolio__btn

.portfolio__btn {
  display: inline-block;
  border-color: transparent;
  padding: 6px 20px;
  margin: 7px 4px;

  border-radius: 4px;
  outline: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #ffffff;
  }

  @include desktop {
    padding: 6px 22px;
  }
}

// .portfolio__btn--active

.portfolio__btn--active {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;

  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: var(--title-text-color);
  //   background-color: #f5f4fa;

  @include desktop {
    padding: 6px 22px;
  }
}
