.work {
  @include desktop {
    padding-top: 94px;
    padding-bottom: 0;
    background-color: #ffffff;
  }
}

// .work__lists

.work__lists {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

// .work__item

.work__item {
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.work__item:not(:last-child) {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 0;
  }
}

// .work__icon

.work__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
  }

  @include desktop {
    padding: 25px 100px;
  }
}

// .work__title

.work__title {
  margin-bottom: 10px;

  font-family: $primaryFont;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

// .work__position

.work__position {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
