.work {
}

// .work__pretitle

.work__pretitle {
}

// .work__div

.work__div {
}

// .work__lists

.work__lists {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

// .work__item

.work__item {
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.work__item:not(:last-child) {
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 0;
  }
}

// .work__icon

.work__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;

  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background: #f5f4fa;
    border-radius: 4px;
  }

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

// .work__title

.work__title {
  margin-bottom: 10px;

  font-family: $primaryFont;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;

  @include mobile {
    margin-bottom: 10px;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
  }
  @include tablet {
    font-family: $primaryFont;
    text-align: center;
    text-transform: uppercase;
  }
}

// .work__position

.work__position {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;

  @include mobile {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
  }

  @include tablet {
  }
}

// .work {
//   padding-top: 94px;
//   background-color: #ffffff;
// }

// .work__lists {
//   display: flex;
//   gap: 30px;
// }

// .work__item {
//   flex-basis: calc((100% - 90px) / 4);
// }

// .work__icon {
//   padding: 25px 100px;
//   margin-bottom: 30px;
//   border-radius: 4px;
//   background-color: #f5f4fa;
// }

// .work__title {
//   margin-bottom: 10px;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--title-text-color);
// }
// .work__position {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
// }
