// Кнопка выпадающего меню мобильного в хедере
// .header__btn

.header__btn {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;
  border: none;
  outline: none;
  background-color: transparent;

  &.is-open .header__icon--close {
    opacity: 0;
  }

  &.is-open .header__icon--open {
    opacity: 1;
  }

  & .header__icon--close {
    opacity: 1;
  }

  & .header__icon--open {
    opacity: 0;
  }

  //   &:focus .header__icon--close,
  &:hover .header__icon--close,
//   &:focus .header__icon--open,
  &:hover .header__icon--open {
    fill: #2196f3;
  }
}

// .header__icon

.header__icon {
}

// .header__icon--open

.header__icon--open,
.header__icon--close {
  fill: #212121;
}

// Выпадающее мобильное меню
// Список страниц мобильного меню

.mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding: 48px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  overflow-y: auto;
}

.mobile.is-open {
  display: block;
}

// .mobile__lists

.mobile__lists {
  border-top: 1px solid #ececec;
  margin-bottom: 300px;
}

// .mobile__item

.mobile__item:not(last-child) {
  margin-bottom: 35px;
}

// .mobile__link

.mobile__link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile__link.current {
  color: #2196f3;
}

.mobile__link:hover {
  border-bottom: 4px solid #2196f3;
  color: #2196f3;
  border-radius: 2px;
}

// Список контактов мобильного меню

// .mobile-contact__item

.mobile-contact__item {
  height: 34px;
}

.mobile-contact__item:not(last-child) {
  margin-bottom: 30px;
}

// .mobile-contact__link

.mobile-contact__link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;

  &:hover,
  &:focus {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  @media screen and (max-width: 400px) {
    font-size: 20px;

    &:hover,
    &:focus {
      font-size: 25px;
    }
  }
}

// Список социальных сетей мобильного меню

// .mobile-social__list

.mobile-social__list {
  display: flex;
  justify-content: flex-start;
}

// .mobile-social__item

.mobile-social__item {
  &:not(:first-child) {
    padding-left: 10px;

    @media screen and (max-width: 400px) {
      padding-left: 5px;
    }
  }

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    @media screen and (max-width: 400px) {
      padding-right: 5px;
    }
  }
}

// .mobile-social__link

.mobile-social__link {
  height: 22px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;

  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}
.mobile-social__item:hover,
.mobile-social__item:focus {
  border-bottom: 2px solid #2196f3;
}
