.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.backdrop .modal {
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  min-height: 77%;
  padding: 40px;
  z-index: 20;
  background-color: #ffffff;
  opacity: 1;
  transform: translate(-50%, -50%);
}
// .modal__main-title

.modal__main-title {
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal-form {
}

// .modal-form__wrapper

.modal-form__wrapper:hover .modal-form__text,
.modal-form__wrapper:focus .modal-form__text,
.modal-form__wrapper:active .modal-form__text {
  color: #2196f3;
}

.modal-form__wrapper:not(:last-child) {
  margin-bottom: 10px;
}

// .modal-form__text

.modal-form__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

// .modal-form__input-icon

.modal-form__input-icon {
  position: relative;

  &:hover .modal-form__icon,
  &:focus .modal-form__icon,
  &active .modal-form__icon {
    fill: #2196f3;
  }
}

.modal-form__input-icon input {
  display: block;
  padding: 5px 30px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}

// .modal-form__icon

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 21px;
  transform: translate(-50%, -50%);
}

// .modal-form__area

.modal-form__area {
  display: block;
  width: 100%;
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  &::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}

// .modal-form__box

.modal-form__box {
  position: relative;
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
}

.form-box__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #757575;
}

// .modal-form__input-checkbox

// .modal-form__checkbox

.modal-form__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  .modal-form__input-checkbox:checked ~ & {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 1;
  }

  .modal-form__input-checkbox:hover ~ & {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// .modal-form__checkbox--none

.modal-form__checkbox--none {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;

  .modal-form__input-checkbox:checked ~ & {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;
  }

  .modal-form__input-checkbox:hover ~ & {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// .modal-form__link-text

.modal-form__link-text {
  text-align: center;
  color: #2196f3;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// .modal-form__btn-submit

.modal-form__btn-submit {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 55px;
  margin: 0 auto;
  outline: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// .modal-form__btn--close

.modal-form__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover .modal-form__icon--close {
    fill: #2196f3;
  }
}

// .modal-form__icon--close

// .backdrop {
//   position: fixed;
//   left: 0px;
//   top: 0px;

//   width: 100%;
//   height: 100%;

//   background-color: rgba(0, 0, 0, 0.2);

//   opacity: 1;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .backdrop.is-hidden {
//   /* visibility: hidden; */
//   opacity: 0;
//   pointer-events: none;
// }

// .modal {
//   position: absolute;
//   left: 50%;
//   top: 50%;

//   width: 528px;
//   height: 581px;
//   border-radius: 4px;
//   padding: 40px;

//   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
//     0px 1px 3px 0px rgba(0, 0, 0, 0.12);
//   background-color: #ffffff;

//   opacity: 1;
//   transform: scale(1) translate(-50%, -50%);
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .backdrop.is-hidden & {
//     opacity: 0;
//     transform: scale(0) translate(-50%, -50%);
//   }

//   .modal__main-title {
//     margin-bottom: 12px;

//     font-family: $primaryFont;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 23px;
//     text-align: center;
//     letter-spacing: 0.03em;

//     color: #212121;
//   }
// }

// // Форма модального окна

// .modal-form {
//   width: 100%;
// }

// // Обертка поля формы

// .modal-form__wrapper {
//   display: flex;
//   flex-direction: column;

//   &:not(:nth-child(4)) {
//     margin-bottom: 10px;
//   }

//   & input:focus {
//     border: 1px solid #2196f3;
//     border-radius: 4px;
//   }

//   & textarea:focus {
//     border: 1px solid #2196f3;
//     border-radius: 4px;
//   }
// }

// // Поля ввода

// .modal-form__wrapper input {
//   height: 40px;
//   width: 100%;
//   padding-left: 42px;

//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   outline: none;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .modal-form__text {
//   margin-bottom: 4px;

//   font-family: $primaryFont;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.17;
//   letter-spacing: 0.01em;

//   color: #757575;
// }

// .modal-form__text + textarea {
//   outline: none;
// }

// // Обертка иконки

// .modal-form__input-icon {
//   position: relative;
//   display: flex;
// }

// // Иконка на поле ввода формы

// .modal-form__icon {
//   position: absolute;
//   left: 12px;
//   top: 50%;
//   transform: translateY(-50%);
//   fill: currentColor;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   input:focus + & {
//     fill: #2196f3;
//   }
// }

// // Форма для комментария

// .modal-form__area {
//   height: 120px;
//   padding: 12px 16px;
//   resize: none;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &::placeholder {
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 1.17;
//     letter-spacing: 0.01em;

//     color: rgba(117, 117, 117, 0.5);
//   }
// }

// // custom checkbox - закомментирован второй вариант

// .modal-form__box {
//   margin-top: 20px;
//   margin-bottom: 30px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .form-box__text {
//   position: relative;
//   padding-left: 23px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;

//   cursor: pointer;

//   color: #757575;
// }

// .modal-form__checkbox {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%);
//   opacity: 0;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   /* display: none; */
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   /* margin-right: 7px; */

//   .modal-form__input-checkbox:checked ~ & {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     opacity: 1;

//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     /* margin-right: 7px; */
//     border: none;
//   }

//   .modal-form__input-checkbox:focus ~ & {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
// }

// .modal-form__checkbox--none {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   transform: translateY(-50%);
//   opacity: 1;

//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   /* margin-right: 7px; */
//   border: none;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .modal-form__input-checkbox:checked ~ & {
//     /* display: none; */
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     opacity: 0;
//   }

//   .modal-form__input-checkbox:focus ~ & {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   }
// }

// .modal-form__link-text {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   text-decoration: underline;
//   color: #2196f3;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     text-decoration: none;
//     color: #188ce8;
//   }
// }

// // Кнопка отправки данных формы

// .modal-form__btn-submit {
//   display: flex;
//   align-items: center;
//   text-align: center;
//   padding: 10px 55px;
//   margin: 0 auto;

//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;

//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   border: none;
//   color: #ffffff;
//   background-color: #2196f3;

//   cursor: pointer;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//   }
// }

// // Кнопка закрытия модального окна

// .modal-form__btn--close {
//   position: absolute;
//   right: 8px;
//   top: 8px;

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   width: 30px;
//   height: 30px;
//   border-radius: 50%;

//   background-color: #ffffff;
//   border: 1px solid rgba(0, 0, 0, 0.1);

//   cursor: pointer;
// }

// .modal-form__icon--close {
//   fill: currentColor;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .modal-form__btn--close:hover &,
//   .modal-form__btn--close:focus & {
//     fill: #2196f3;
//   }
// }
